@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul {
    padding-left: 0;
    list-style: none;
}

.pain-list>li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10%;
}

.shine {
    position: absolute;
    top: -1.79em;
}

.pain-list>li>img {
    width: 8%;
}


.pain-list>li>p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 0;
}

.intro-section {
    background: linear-gradient(#fff, #2E2C26);
    background: -ms-linear-gradient(#fff, #2E2C26);
    background: -o-linear-gradient(#fff, #2E2C26);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 643px;
    position: relative;
}

.intro-section>div {
    justify-content: space-between;
}

.pain-section {
    background: #000;
}

.art-section {
    background: linear-gradient(#fff, #2E2C26);
    background: -ms-linear-gradient(#fff, #2E2C26);
    background: -o-linear-gradient(#fff, #2E2C26);
    max-height: 585px;
}

.and-section {
    background: linear-gradient(#fff, #2E2C26);
    background: -ms-linear-gradient(#fff, #2E2C26);
    background: -o-linear-gradient(#fff, #2E2C26);
    max-height: 607px;

}

.feedback-section {
    padding-top: 3rem;
    padding-bottom: 1rem;
    position: relative;
    z-index: 9999;
}

.form-section {
    background: linear-gradient(#2E2C26, #fff);
    max-height: 857px;
    position: relative;
}

.form {
    background: linear-gradient(#2E2C26, #fff);
    background: -ms-linear-gradient(#2E2C26, #fff);
    background: -o-linear-gradient(#2E2C26, #fff);
    border-radius: 4px;
    width: 40%;
    position: absolute;
    top: 10%;
    height: 657px;
}

.form-logo{
    margin-top: 17rem;
}



.form>form {
    margin: 5%;
}

label {
    color: #fff;
}

.form-bg {
    max-height: 45.6rem;
    position: absolute;
    z-index: -2;
}

.intro-img {
    position: relative;
    min-height: 752px;
    width: 50%;

}

.intro-img-professionals {
    position: absolute;
    bottom: 14.5%;
}

.intro-img-professional-and {
    position: absolute;
    bottom: 19.5%;
    right: 1%;
    width: 75%;
}

.intro-img-professional-art {
    position: absolute;
    bottom: 14.5%;
    left: -12%;
    width: 75%;
}


.trace-img-holder {
    width: 22%;
    position: relative;
    min-height: 50px;
}

.intro-text>:first-child {
    margin-top: 10%;
}

.feedback-img {
    width: 25%;
}


.trace-img {
    position: absolute;
    right: 12%;
}

.carousel-item>img {
    margin: auto;
    margin-bottom: 11rem;
    border-radius: 4px;
    border: 2px solid #ffd700;
    background: #f9f502;
    color: #000;
    box-shadow: 0 0 0px #f9f502, 0 0 10px #f9f502, 0 0 2px #f9f503;
    padding-top: 0.1%;
}

.cta-button {
    display: block;
    border-style: none;
    border-radius: 14px;
    z-index: 72;
    width: 419px;
    height: 78px;
    position: absolute;
    background-color: #f3a74d;
    background: -webkit-linear-gradient(#f3a74d, #cf681b);
    background: -moz-linear-gradient(#f3a74d, #cf681b);
    background: -ms-linear-gradient(#f3a74d, #cf681b);
    background: -o-linear-gradient(#f3a74d, #cf681b);
    background: linear-gradient(#f3a74d, #cf681b);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    background-repeat: no-repeat;
}

.intro-description {

    margin-top: 5rem;
}

.first-cta {
    position: relative;
    display: flex;
    justify-content: left;
}

.cta-button>span {
    margin-top: -12px;
    position: absolute;
    top: 50%;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 8px 0 8px;
    cursor: pointer;
}

.cta-button:hover {
    color: #fff;
}

.mobile-logo {
    display: none;
}

.d-lg-block {
    display: block;
}

.d-lg-none {
    display: none;
}

.footer {
    min-height: 9rem;
    background: #000;
    margin-top: 7.5rem;
}

.art-chair{
    display: flex;
}

.and-chair{
    display: flex;
}

.mobile-span{
    color: #fff;
}


/* CSS para responsividade */

@media screen and (max-width: 768px) {
    .my-2 {
        text-align: center;
    }

    .first-cta {
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .form {
        background: linear-gradient(#2E2C26, #fff);
        background: -ms-linear-gradient(#2E2C26, #fff);
        background: -o-linear-gradient(#2E2C26, #fff);
        border-radius: 4px;
        width: 98%;
        position: absolute;
        top: 10%;
        height: 481px;
    }

    .footer{
        margin-top: 33.5rem;
    }

    .form-logo{
        margin-top: unset;
    }

    .art-chair{
        display: none;
    }

    .and-chair{
        display: none;
    }

    .mail-submit{
        width: 342px !important;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .intro-section>div {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .cta-button {
        position: relative;
        width: 380px;
    }

    .and-section {
        max-height: none;
        padding-bottom: 3rem;
    }

    .and-section>div>div {
        padding-left: 8px;
    }

    .art-section {
        max-height: none;
        padding-bottom: 3rem;
    }

    .art-section>div>div {
        padding-left: 8px;
    }

    .intro-section {
        height: unset;
        padding-bottom: 3rem;
    }

    .mobile-logo {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }

    .intro-img {
        min-height: 252px;
        width: 92%;
        height: 100%;
    }

    .intro-img-and-art {
        position: absolute !important;
    }

    .intro-description {
        text-align: center;
        margin-top: unset;
    }

    .intro-description>:first-child {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        padding: 1rem;
    }

    .intro-img-professionals {
        position: unset;
        padding-right: 5%;
    }

    .intro-img-professional-and {
        position: absolute;
        width: 100%;
        bottom: 11.9%;
        left: 3%;
    }

    .intro-img-professional-art {
        z-index: 1;
        position: absolute;
        bottom: 3.5%;
        left: -44%;
        width: 100%;
    
    }

    .feedback-card>div {
        text-align: center;
        margin: 12px;
    }

    .feedback-card>div>img {
        margin: auto;
    }

    .feedback-img {
        width: 50%;
    }

    .mobile-span{
        color: #000;
    }



}